@import "../../../../app/styles/_theme.scss";

footer {
  display: flex;
  flex-direction: column;
  grid-area: footer;
  justify-content:space-between;
  align-items: center;
  color: $grey;
  max-width: 128rem;
  width: 100%;
  margin: 4rem auto .5rem;
  padding: 1rem 0;
  border-top: 0.1rem solid $ligthGray;
  img {
    width: 9rem;
    margin: 1rem 0;
    display: inline-block;
  }
  p {
    text-align: center;
    font-weight: 300;
    font-size: 1.2rem;
    margin: 4rem 0 0 0;
    a:hover {
      border-bottom: .1rem solid $orange;
    }
  }
}
