@import "../../../../app/styles/_theme.scss";

header {
  display: block;
  grid-area: header;
  padding: 2rem 0;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  text-align: center;
  position: relative;
  z-index: 99;
  @media #{$tablet} {
    display: flex;
    border-bottom: .1rem solid $ligthGray;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 128rem;
    text-align: left;
  }
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: $lato;
  padding: 1rem 0;
  margin-top: 1.5rem;
  ul {
    display: flex;
    justify-content: flex-end;
    font-weight: 300;
    font-size: 1.8rem;
    li {
      margin: 0 1.3rem;
      @media #{$tablet} {
        margin: 0 0 0 2.5rem;
      }
      &:hover a {
        border-bottom: .2rem solid $orange;
      }
    }
    &.nav-large {
      margin: 0;
      li {
        margin-left: 2rem;
      }
    }
  }
}
