@import "../../../app/styles/_theme.scss";

.main-content {
  display: grid;
  grid-area: content;
  margin: 0 auto;
  width: 100%;
  position: relative;
  grid-template:
               "slider slider slider slider"
               " . text text . "
               "energy energy energy energy"
               "map map map map"
               " . partners partners . " / 1fr 6fr 6fr 1fr;
   @media #{$tablet} {
     grid-template:
                  " . slider slider . "
                  " . text text . "
                  " . energy energy . "
                  "map map map map"
                  " . partners partners . " / 1fr 6fr 6fr 1fr;
   }

   h2 {
     font-size: 4.4rem;
     @media #{$tablet} {
       font-size: 5.4rem;
     }
   }

   //Slider block
  .slider-wrapper {
    grid-area: slider;
    margin: 0 auto 2rem;
    max-width: 128rem;
    width: 100%;
    @media #{$tablet} {
      margin: 4rem auto;
    }
    .slider {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: url("../../../../img/main-photo.jpg") no-repeat;
      background-size: cover;
      position: relative;
      height: 44rem;
      text-align: center;
      padding: 0 2rem;
      @media #{$tablet} {
        height: 64rem;
      }
      h1, h2, p {
        position: relative;
        z-index: 10;
        color: $white;
        font-family: $lato;
      }
      h1 {
        font-size: 4rem;
        line-height: 4rem;
        margin: 1.5rem 0;
        @media #{$tablet} {
          font-size: 5.2rem;
        }
      }
      h2 {
        font-size: 2.2rem;
        @media #{$tablet} {
          font-size: 3rem;
        }
      }
    }
    ul.slider-buttons {
      display: flex;
      flex-direction: column;
      font-size: 1.6rem;
      @media #{$tablet} {
        flex-direction: row;
        font-size: 1.8rem;
      }
      li {
        text-align: center;
        color: $white;
        font-weight: 300;
        width: 100%;
        text-transform: uppercase;
        @include transition;
        a {
          color: $white;
          display: block;
          width: 100%;
          line-height: 6rem;
          @media #{$tablet} {
            line-height: 8rem;
          }
        }
        &:nth-of-type(1) {
          background: $green;
          &:hover {
            background: darken($green, 5%);
          }
        }
        &:nth-of-type(2) {
          background: $orange;
          &:hover {
            background: darken($orange, 5%);
          }
        }
        &:nth-of-type(3) {
          background: $blue;
          &:hover {
            background: darken($blue, 5%);
          }
        }
      }
    }
  }

  //Text block
  .main-text-block {
    grid-area: text;
    text-align: center;
    margin: 2rem 0 6rem;
    p {
      font-size: 1.8rem;
      font-weight: 300;
      line-height: 3rem;
      max-width: 80rem;
      width: 100%;
      margin: 2rem auto 5rem;
    }
  }

  //Elements block
  .elemets-block {
    grid-area: energy;
    max-width: 128rem;
    margin: 3rem auto 2rem;
    ul {
      li {
        display: flex;
        flex-direction: column;
        color: $white;
        @media #{$tablet} {
          flex-direction: row;
        }
        img {
          width: 100%;
          object-fit: cover;
          @media #{$tablet} {
            width: 50%;
          }
        }
        div {
          width: 100%;
          text-align: center;
          @media #{$tablet} {
            width: 50%;
            text-align: left;
          }
          h2 {
            font-size: 3.6rem;
            text-transform: uppercase;
            margin: 4rem 4rem 2rem;
          }
          p {
            font-size: 1.8rem;
            font-weight: 300;
            line-height: 3rem;
            margin: 0 4rem;
          }
          a {
            display: inline-block;
            margin: 4rem;
            @media #{$tablet} {
              margin: 4rem 4rem 0;
            }
          }
        }
        &:nth-of-type(1) {
          background: $green;
          a {
            &:hover {
              color: $green;
            }
          }
        }
        &:nth-of-type(2) {
          background: $orange;
          flex-direction: column-reverse;
          @media #{$tablet} {
            flex-direction: row;
          }
          a {
            &:hover {
              color: $orange;
            }
          }
        }
        &:nth-of-type(3) {
          background: $blue;
          a {
            &:hover {
              color: $blue;
            }
          }
        }
      }
    }
  }

  //Map block
  .map-block {
    grid-area: map;
    text-align: center;
    margin: 3rem 0 0 0;
    @media #{$tablet} {
      margin: 7rem 0;
    }
    p {
      font-size: 1.8rem;
      font-weight: 300;
      line-height: 3rem;
      max-width: 80rem;
      padding: 0 2rem;
      margin: 2rem auto 5rem;
    }
    iframe {
      border: none;
    }
  }

  //Partners block
  .partners {
    grid-area: partners;
    text-align: center;
    margin: 3rem 0 6rem;
    ul {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 3rem;
      @media #{$tablet} {
        flex-direction: row;
      }
      li {
        margin: 2rem 5rem;
      }
    }
  }
}
