@import "../../../app/styles/_theme.scss";

.about-content {
  display: grid;
  grid-area: content;
  margin: 0 auto;
  width: 100%;
  position: relative;
  grid-template:
               "slider slider slider slider" / 1fr 6fr 6fr 1fr;
   @media #{$tablet} {
     grid-template:
                  " . slider slider . " / 1fr 6fr 6fr 1fr;
   }
   h2 {
     font-size: 4.4rem;
     padding: 0 2rem;
     margin-top: 4rem;
     @media #{$tablet} {
       padding: 0;
     }
   }
   p {
     font-size: 1.8rem;
     font-weight: 300;
     line-height: 3rem;
     padding: 0 2rem;
     @media #{$tablet} {
       padding: 0;
     }
   }
  .slider-wrapper {
    grid-area: slider;
    margin: 0 auto 2rem;
    max-width: 128rem;
    width: 100%;
    .slider {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: url("../../../../img/main-photo.jpg") no-repeat;
      background-size: cover;
      position: relative;
      height: 24rem;
      text-align: center;
      padding: 0 2rem;
      h1, h2 {
        position: relative;
        z-index: 10;
        color: $white;
        font-family: $lato;
      }
      h1 {
        font-size: 4rem;
        line-height: 4rem;
        margin: 1.5rem 0;
        @media #{$tablet} {
          font-size: 5.2rem;
        }
      }
      h2 {
        font-size: 2.2rem;
        @media #{$tablet} {
          font-size: 3rem;
        }
      }
    }
    ul {
      display: flex;
      flex-direction: row;
      height: 1rem;
      li {
        width: 100%;
        &:nth-of-type(1) {
          background: $green;
        }
        &:nth-of-type(2) {
          background: $orange;
        }
        &:nth-of-type(3) {
          background: $blue;
        }
      }
    }
  }
}
